#b1{
    background-image: url("../images/p2.jpg");
    background-size: cover;
    color: azure;
    text-align: center;
    padding: 50px;
}
#vee{
    color: turquoise;
}
#ryla{
    text-align: left;
    padding-left: 3cm;
    color: rgb(255, 12, 4);
}
.acra{
        color: whitesmoke;
        padding: 15px;
        font-size: 15px;
        border: none;
        cursor: pointer;
        text-align: center;
      }
      .acra {
        position: relative;
        display: inline-block;
      }
td{
    padding: 80px;
}
.form {
    text-align: center;
    align-items: center;
    margin-left: 25%;
    color:white;
}

.click-me,
button[type=submit],
.delivery,
.deliver {
    color: rgb(243, 236, 241);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ec0808;
    outline: none;
    padding: 12.5px ;
    border: none;
    border-radius: 30px;
    font-size: 10px;
}
#contactlink {
    background-color: rgb(209, 5, 5);
}
.checkout {
    border-radius: 20px;
    margin-top: 20px;
    color: white;
}




